:root {
    --jet-black: #253031ff;
    --dark-slate-grey: #315659ff;
    --cerulean: #2978a0ff;
    --amber-sand:     #c7a15f;
    --sand: #bcab79ff;
    --olive-dust:     #a79f68;
    --pale-sky: #c6e0ffff;
}