html {
    background-color: var(--jet-black);
    background: linear-gradient(120deg, var(--jet-black) 70%, var(--slate-green));
    min-height: 100%;
    color: var(--pale-sky);
    background-attachment: fixed;
}

main {
    height: 100vh;
    min-height: 100%;
}

a:hover {
    color: var(--sand);
}

a {
    color: var(--amber-sand);
}

a:visited {
    color: var(--olive-dust);
}