@import url(colors.css);

.nav-bar {
    background-color: var(--dark-slate-grey);
    border-radius: 10px;
    display: grid;
    width: fit-content;
    position: relative;
    flex-shrink: 0;
}

.nav-item {
    font-weight: bold;
    font-size: larger;
    padding: 3cap 2cap;
    margin: 1rem 0rem;
    text-align: center;
}